.bodyContent {
padding:0 10px;
margin-top:-10px;
}
.pageContent{
font-family:"Times New Roman";
background-color:#FFFFFF;
width:100%;
padding:50px;
}
.uvsnidHeading{
width:100%;
height:100px;
text-align:center;
}
.dataSection{
}
.primaryData{
height:400px;
background-color:#CCCCCC
}
.SecondaryData{
height:400px;
background-color:#99FFCC;
}
.CrimeData{
height:400px;
background-color:#99FF66;
}